@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    color: #534e41 !important;
    font-family: Ubuntu, Helvetica, Arial;
    font-weight: 500;
    text-align: center;
    background-image: url(./img/img_background.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

#gameSection {
    margin-top: 20px;
}

.logo_img{
    width: 543px;
    height: 200px;
    margin-top: 70px;
    margin-bottom: 20px;
}

.title {
    border: 2px solid #534e41;
    width: 35%;
    margin: 0px auto 20px;
    padding: 5px;
    background: #EADFC2;
    border-radius: 10px;
}

.title .descript {
    background-color: white;
    /* width: 38%; */
    /* margin: 0px auto 25px; */
    /* height: 34%; */
    border: 2px solid #534e41;
    padding: 20px;
    border-radius: 8px;
    margin: 0;
}

.title h3 {
    text-transform: uppercase;
    margin: 0;
}

.title h4 {
    color: #979797;
    font-size: 1.1rem;
    margin-bottom: 0;
    margin-top: 15px;
}

.title .descript .all_indice {
    display: flex;
}

.title .descript .indice {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 2px solid #928157; */
    border: 2px solid #cecece;
    background: #faf9f3;
    padding: 7px;
    border-radius: 8px;
    margin: 15px 20px 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Ajoute une transition douce pour l'effet de grossissement */
}

.title .descript .indice:hover {
    transform: scale(1.1);
    /* Augmente la taille de la div à 110% lorsqu'on passe la souris dessus */
}

.title .descript .indice img {
    width: 35px;
    height: 35px;
    /* filter: brightness(0) saturate(100%) invert(27%) sepia(60%) saturate(2369%) hue-rotate(353deg) brightness(100%) contrast(102%); */
    filter: brightness(0) saturate(100%) invert(66%) sepia(1%) saturate(437%) hue-rotate(327deg) brightness(92%) contrast(85%);
}

.title .descript .indice p {
    font-size: .9rem;
    /* color: #928157; */
    color: #cecece;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    margin: 0;
}

#firstArcHintDisplay,
#devilFruitHintDisplay, 
#traduitFruitHintDisplay, 
#typeHintDisplay {
    position: relative;
    row-gap: .7rem;
    width: 100%;
    background: #eadfc2;
    padding: 1rem 0;
    border-radius: 5px;
    margin-top: 13px;
}

#firstArcHintDisplay::before {
    left: 9%;
    content: "";
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eadfc2;
}

#devilFruitHintDisplay::before {
    right: 9%;
    content: "";
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eadfc2;
}

#typeHintDisplay ::before {
    right: 9%;
    content: "";
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eadfc2;
}

#traduitFruitHintDisplay::before {
    right: 9%;
    content: "";
    position: absolute;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #eadfc2;
}

#firstArcHintInfo,
#devilFruitHintInfo {
    font-size: .8rem;
    color: #979797;
    cursor: default;
}

.search {
    border: 2px solid #534e41;
    width: 31%;
    margin: auto;
    background: #FAF9F3;
    padding: 10px 5px 10px 10px;
    border-radius: 6px 6px 0px 0px;
    display: flex;
    align-items: center;
}

input {
    color: #534e41 !important;
    font-weight: 700;
    /* margin-bottom: 7px; */
    padding: 12px 15px;
    width: 100%;
    /* width: 20%; */
    /* margin-right: 84px; */
    border: 3px solid #EBE0C5;
    border-radius: 7px;
    font-size: 15px;
}

input:focus {
    border: 3px solid #EBE0C5; /* Maintenir la même couleur de bordure */
    outline: none; /* Optionnel : Supprimer la bordure par défaut de l'input en focus */
}

button {
    background-color: transparent;
    border: 0;
}

button img {
    width: 35px;
    height: 35px;
}

#resultContainer {
    display: flex;
    margin-top: 20px;
    width: 80%;
    margin: 0 auto;
    transition: flex-basis .1s ease;
    text-align: center;
    flex-direction: column-reverse;
}

.resultat {
    display: flex;
    flex-direction: row;
    /* Affiche les éléments horizontalement */
    gap: 10px;
    /* Espace entre les cases */
    /* Couleur de fond des résultats */
}


.result-category {
    width: 100%;
    margin-top: 20px;
    text-align: left;
}

.result-category h3 {
    border: none !important;
    font-size: 13px;
    font-weight: 1000;
    text-transform: uppercase;
    text-shadow: 1px 1px #cecece;
    color: #312e26;
    text-align: center;
}

.result-category hr {
    width: 90%;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 3px solid #534e41;
}

.result-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 10px;
    text-align: center;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    /* padding: 10px; */
    width: 120px;
    height: 120px;
    background-color: #f9f9f9;
    justify-content: center;
    backface-visibility: hidden;
    /* Hide the back face of the element */
    transform-style: preserve-3d;
    /* Preserve 3D space for the flip effect */
    transition: transform 0.6s;
    /* Duration of the flip animation */
    transform: rotateY(0deg);
    text-align: center;
}

.result-item.correct {
    background-color: #3da75e;
    /* Vert */
    color: white;
    /* border: 2px solid #24d475; */
    transition: background-color .3s ease;
}

.partial {
    background-color: #E2D764,
}

.result-item.partial {
    background-color: rgba(217, 200, 39, .6980392156862745);
    /* Orange */
    color: white;
}

.result-item.incorrect {
    background-color: #f44336;
    /* Rouge */
    color: white;
}

.history-item {
    background-color: #f1f1f1;
}

.history-field {
    margin: 3px 0;
}

#suggestions {
    margin: 0;
    width: 32%;
    margin: 0px auto;
    border: 2px solid #534e41;
    /* display: none; */
    max-height: 300px;
    /* Ajustez cette valeur selon vos besoins */
    overflow-y: auto;
}


.suggestion {
    background-color: #f1f1f1;
    padding: 11px 0;
    /* margin: 2px 0; */
    cursor: pointer;
    /* width: 100%; */
    margin: 0px auto;
    border-left: 2px solid #534e41;
    border-right: 2px solid #534e41;
    border-bottom: 1px solid #534e41;
    display: flex;
    align-items: center;
}

.suggestion-image {
    width: 40px;
    /* Ajustez la taille de l'image selon vos besoins */
    height: 47px;
    margin-right: 10px;
    margin-left: 25px;
    /* Espace entre l'image et le texte */
}

.character-names-label {
    font-weight: 400;
    margin-left: 10px;
}

.suggestion:hover {
    background-color: #ddd;
}

#restartGameButton {
    margin-top: 20px;
}

.button-container {
    margin-top: 20px;
    text-align: center;
}

.all-legend {
    border: 5px solid #eadfc2;
    border-radius: 10px;
    width: 50%;
    margin: auto;
}

#legend {
    border: 2px solid #534e41;
    border-radius: 8px;
    background: #faf9f3;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    padding: .8rem .2rem;
    vertical-align: center;
    align-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    position: relative;
}

.legend-color {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 5px;
    vertical-align: middle;
}

.legend-color.correct {
    background-color: #3da75e;
    /* Vert */
}

.legend-color.orange {
    background-color: rgba(217, 200, 39, .6980392156862745);
    /* Orange */
}

.legend-color.incorrect {
    background-color: #f44336;
    /* Rouge */
}

.legend-arrow {
    display: inline-block;
    vertical-align: middle;
}

#legend h2 {
    text-align: center;
}

.legend {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

#legend .legend span {
    margin-bottom: 20px;
    font-size: 40px;
}

#legend .legend p {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
}

img {
    width: 550px;
    height: 300px
}

#arrow-down,
#arrow-up {
    width: 50px;
    height: 50px;
    margin-bottom: .4rem;
    background: #d53633;
    position: relative;
    z-index: 0;
    border: 1px solid #d53633;
}

#arrow-down::after {
    position: absolute;
    top: 1px;
    left: 0;
    width: 100%;
    clip-path: polygon(97% 60%, 80% 60%, 80% 5%, 20% 5%, 20% 60%, 3% 60%, 50% 95%);
    -webkit-clip-path: polygon(97% 60%, 80% 60%, 80% 5%, 20% 5%, 20% 60%, 3% 60%, 50% 95%);
    height: 100%;
    background: rgba(0, 0, 0, .5);
    content: "";
    z-index: -1;
    opacity: 1;
    transition: background-color .3s ease;
}

#arrow-up::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    clip-path: polygon(97% 40%, 80% 40%, 80% 95%, 20% 95%, 20% 40%, 3% 40%, 50% 5%);
    -webkit-clip-path: polygon(97% 40%, 80% 40%, 80% 95%, 20% 95%, 20% 40%, 3% 40%, 50% 5%);
    height: 100%;
    background: rgba(0, 0, 0, .5);
    content: "";
    z-index: -1;
    opacity: 1;
    transition: background-color .3s ease;
}

/* Flèche vers le bas */
.arrow-down::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    clip-path: polygon(97% 40%, 80% 40%, 80% 95%, 20% 95%, 20% 40%, 3% 40%, 50% 5%);
    -webkit-clip-path: polygon(97% 40%, 80% 40%, 80% 95%, 20% 95%, 20% 40%, 3% 40%, 50% 5%);
    height: 100%;
    background: rgba(0, 0, 0, .5);
    /* Red background for down arrow */
    content: "";
    z-index: -1;
    opacity: 1;
    transition: background-color .3s ease;
    display: block;
    /* Hidden by default */
}

/* Flèche vers le haut */
.arrow-up::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    clip-path: polygon(97% 60%, 80% 60%, 80% 5%, 20% 5%, 20% 60%, 3% 60%, 50% 95%);
    -webkit-clip-path: polygon(97% 60%, 80% 60%, 80% 5%, 20% 5%, 20% 60%, 3% 60%, 50% 95%);
    height: 100%;
    background: rgba(0, 0, 0, .5);
    /* Green background for up arrow */
    content: "";
    z-index: -1;
    opacity: 1;
    transition: background-color .3s ease;
    display: block;
    /* Hidden by default */
}

/* Afficher les flèches si incorrect */
.result-item.arrow-up::after,
.result-item.arrow-down::after {
    display: block;
    /* Show arrows if they are relevant */
}


#characterImageContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#characterImage {
    width: 100px;
    height: 100px;
    border: 2px solid #ddd;
    border-radius: 10px;
}

.character-image {
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

.result-bar {
    position: relative;
    perspective: 1000px;
    /* Perspective for the 3D effect */
}

/* Front face of the card */
.result-item {
    backface-visibility: hidden;
    /* Hide the back face of the element */
    transform-style: preserve-3d;
    /* Preserve 3D space for the flip effect */
    transition: transform 0.6s;
    /* Duration of the flip animation */
    transform: rotateY(0deg);
}

/* Flip the card */
.result-item.flip {
    transform: rotateY(180deg);
    /* Rotate 180 degrees to flip */
}

/* Reset the card flip */
.result-item.flip-in {
    transform: rotateY(0deg);
    /* Rotate back to initial position */
}



.arrow-up::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    clip-path: polygon(97% 60%, 80% 60%, 80% 5%, 20% 5%, 20% 60%, 3% 60%, 50% 95%);
    -webkit-clip-path: polygon(97% 60%, 80% 60%, 80% 5%, 20% 5%, 20% 60%, 3% 60%, 50% 95%);
    height: 100%;
    content: "";
    z-index: -1;
    opacity: 1;
    transition: background-color .3s ease;
    display: block;
}

.arrow-down::after {
    position: absolute;
    bottom: 1px;
    left: 0;
    width: 100%;
    clip-path: polygon(97% 40%, 80% 40%, 80% 95%, 20% 95%, 20% 40%, 3% 40%, 50% 5%);
    -webkit-clip-path: polygon(97% 40%, 80% 40%, 80% 95%, 20% 95%, 20% 40%, 3% 40%, 50% 5%);
    height: 100%;
    background: rgba(0, 0, 0, .5);
    /* Red background for down arrow */
    content: "";
    z-index: -1;
    opacity: 1;
    transition: background-color .3s ease;
    display: block;
    /* Hidden by default */
}

/* Styles pour les résultats des fruits du démon */
.result-item.correct-type {
    background-color: #3da75e;
    /* Vert clair pour le type correct */
    color: white;
    /* Texte vert foncé */
}

.result-item.incorrect-type {
    background: #f44336;
    /* Rouge clair pour le type incorrect */
    color: white;
    /* Texte rouge foncé */
}

/* Styles pour la carte de succès */
.success-card {
    background-image: url(img/bacgroundgreen.png);
    border-radius: 8px;
    box-shadow: 0 3px 8pxrgba(0, 0, 0, .24);
    padding: 1rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    vertical-align: center;
    align-content: center;
    justify-self: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-size: 100% 100%;
    border: 2px solid #534e41;
    transition: filter .2s ease;
    width: 50%;
    margin: 20px auto;
}

.success-card h2 {
    color: #0a1417;
    margin-bottom: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}

.success-card p {
    margin: 10px 0;
}

.success-card button {
    background-color: #d53633;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    margin-top: 15px;
    font-size: 16px;
}

.success-card button:hover {
    background-color: #45a049;
}

@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.character-name {
    font-size: 24px;
    /* Ajustez cette valeur selon vos besoins */
    font-weight: bold;
    /* Vous pouvez également ajouter du gras si nécessaire */
}

.result-item img {
    width: 100%;
    height: 100%;
    border-radius: 9px;
    border: 2px solid #534e41;
    /* Ajustez selon vos besoins */
}


.character-name-label {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 5px;
    border-radius: 5px;
    white-space: nowrap;
}

.result-item:hover .character-name-label {
    display: block;
}

.haki-image {
    width: 20px;
    /* Ajustez la taille selon vos besoins */
    height: 20px;
    margin-right: 5px;
}

/* //////////////////////////////////////////////// */
/* /////Jeux Fruit du démon //////////// */
/* //////////////////////////////////////////////// */

#resultFruitContainer .incorrect-guess{
    width: 350px;
    margin: auto;
    background-color: #df5858;
    border: 2px solid #ff8686;
    background-image: url(./img/Answer.png);
    background-size: 100% 100%;
    margin: 10px auto;
    padding: 0.7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    cursor: default;
    transition: all .2s ease-in-out;
    flex-direction: column;
    color: #fff;
}

.incorrect-guess img, #resultFruitContainer .correct-guess img{
    border: 2px solid #534e41;
    margin-bottom: 5px;
    width: 40px;
    height: 47px;
    border-radius: 0;
}

#resultFruitContainer .correct-guess{
    background-color: #35b956;
    border: 2px solid #fff;
    background-image: url(./img/AnswerGood.png);
    background-size: 100% 100%;
    padding: 0.7rem;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    cursor: default;
    transition: all .2s ease-in-out;
    flex-direction: column;
    color: #fff;
    width: 350px;
    margin: auto;
    margin-top: 10px;
}

#resultFruitContainer .correct-guess .character-name{
    font-weight: 500;
    font-size: 17px;
}

#resultFruitContainer .incorrect-guess .suggestion-image{
    margin: 0;
}

#resultFruitContainer{
    display: flex;
    flex-direction: column-reverse;
}

.success-card .character-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.success-card .character-container img{
    width: 120px;
    height: 120px;
    margin-bottom: 10px;
}

#devil-fruit{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 0;
}


.progress_nav{
    position: relative;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
    max-width: 400px;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(./img/corde.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100% 25px;
}

.imagesJeu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.guessPerso, .devilFruit{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform .2s ease;
    width: 30%;
    height: auto;
    /* filter: drop-shadow(0 0 10px #faf9f3); */
}

.guessPerso img, .devilFruit img{
    display: block;
    width: 100%;
    height: 100%;
}

.selected {
    filter: drop-shadow(0 0 10px #faf9f3);
}

